<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469110089492-kh9dnaa68japie7oe62btrmohr1fml1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469110089492-kh9dnaa68japie7oe62btrmohr1fml1p</string>
	<key>API_KEY</key>
	<string>AIzaSyBZCfNffatR8KkxA71Gfar2mV8G2KAQGXg</string>
	<key>GCM_SENDER_ID</key>
	<string>469110089492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payqr</string>
	<key>PROJECT_ID</key>
	<string>patqr-57366</string>
	<key>STORAGE_BUCKET</key>
	<string>patqr-57366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469110089492:ios:757101a5ef777fb25ac401</string>
</dict>
</plist>